<footer class="footer_area footer_dark_one footer_dark_ten pt_120">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget dark_widget company_widget wow fadeInUp" data-wow-delay="0.2s">
                        <a href="index.html" class="f-logo"><img src="img/logo3.png" srcset="img/logo-3-2x.png 2x" alt="logo"></a>
                        <div class="widget-wrap">
                            <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Email:</span> <a href="mailto:saasland@gmail.com" class="f_400">saasland@gmail.com</a></p>
                            <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Phone:</span> <a href="tel:948256347968" class="f_400">+948 256 347 968</a></p>
                        </div>
                        <div class="f_social_icon_two">
                            <a href="#" class="ti-facebook"></a>
                            <a href="#" class="ti-twitter-alt"></a>
                            <a href="#" class="ti-vimeo-alt"></a>
                            <a href="#" class="ti-pinterest"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget dark_widget about-widget pl_70 wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="f-title f_600 t_color f_size_18 mb_40">About Us</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Diversity</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Wavelength</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6">
                    <div class="f_widget dark_widget about-widget pl_20 wow fadeInUp" data-wow-delay="0.6s">
                        <h3 class="f-title f_600 t_color f_size_18 mb_40">Workflow Solutions</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Diversity</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Wavelength</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget dark_widget about-widget pl_20 wow fadeInUp" data-wow-delay="0.7s">
                        <h3 class="f-title f_600 t_color f_size_18 mb_40">Team Solutions</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Diversity</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Wavelength</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="footer_bottom dark_f_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-12">
                    <p class="mb-0 f_400">Copyright © 2019 <a href="#">Nitya HRMS</a></p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <ul class="list-unstyled f_menu text-right">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/propper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/vendors/wow/wow.min.js"></script>
<script src="/vendors/sckroller/jquery.parallax-scroll.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/vendors/isotope/isotope-min.js"></script>
<script src="/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
<script src="/vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
<script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/plugins.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB13ZAvCezMx5TETYIiGlzVIq65Mc2FG5g"></script>
<script src="/js/gmaps.min.js"></script>
<script src="/js/plugins.js"></script>
<!-- contact js -->
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>

</body>

</html>
