<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>Best HR Portal You Will Ever Find</title>
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/bootstrap-selector/css/bootstrap-select.min.css">
    <!--icon font css-->
    <link rel="stylesheet" href="/vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="/vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="/vendors/animation/animate.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/scroll/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/vendors/elagent/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>
                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>
                    <span data-text-preloader="T" class="letters-loading">
                        T
                    </span>
                    <span data-text-preloader="Y" class="letters-loading">
                        Y
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="-" class="letters-loading">
                        -
                    </span>
                    <span data-text-preloader="H" class="letters-loading">
                        H
                    </span>
                    <span data-text-preloader="R" class="letters-loading">
                        R
                    </span>
                </div>
                <p class="text-center">Loading</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_wrapper">
        <header class="header_area">
            <nav class="navbar navbar-expand-lg menu_one menu_eight">
                <div class="container">
                    <a class="navbar-brand sticky_logo" href="/"><img src="/images/logo-small.png" srcset="/imgages/logo2x-2.png 2x" alt="logo"><img src="/images/logo-small.png" srcset="img/logo2x.png 2x" alt=""></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav menu w_menu ml-auto">
                            <li class="nav-item dropdown submenu mega_menu mega_menu_two active">
                                <a class="nav-link dropdown-toggle" href="/" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>

                            </li>
                            <li class="dropdown submenu nav-item"><a title="Pages" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Pages</a>
                                <ul role="menu" class=" dropdown-menu">
																	<li class="nav-item"><a title="About" class="nav-link" href="#">About</a></li>
																	<li class="nav-item"><a title="Process" class="nav-link" href="#">Process</a></li>
																	<li class="nav-item"><a title="Pricing" class="nav-link" href="#">Pricing</a></li>
                                    <!-- <li class="dropdown submenu nav-item"><a title="Service" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Service <span class="arrow_carrot-right"></span> </a>
                                        <ul class=" dropdown-menu">
                                            <li class="nav-item"><a title="Service 01" class="nav-link" href="service-1.html">Service 01</a></li>
                                            <li class="nav-item"><a title="Service 02" class="nav-link" href="service-2.html">Service 02</a></li>
                                            <li class="nav-item"><a title="Service 03" class="nav-link" href="service-3.html">Service 03</a></li>
                                            <li class="nav-item"><a title="Service Details" class="nav-link" href="service-details.html">Service Details</a></li>
                                        </ul>
                                    </li> -->

                                    <!-- <li class="dropdown submenu nav-item"><a title="Career" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Career <span class="arrow_carrot-right"></span> </a>
                                        <ul class=" dropdown-menu">
                                            <li class="nav-item"><a title="Job Listing" class="nav-link" href="job-listing.html">Job Listing</a></li>
                                            <li class="nav-item"><a title="Job Details" class="nav-link" href="job-details.html">Job Details</a></li>
                                            <li class="nav-item"><a title="Apply Job" class="nav-link" href="job-apply.html">Apply Job</a></li>
                                        </ul>
                                    </li> -->

                                    <!-- <li class="dropdown submenu nav-item"><a title="Case Study" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Case Study<span class="arrow_carrot-right"></span> </a>
                                        <ul class=" dropdown-menu">
                                            <li class="nav-item"><a title="Case Study" class="nav-link" href="case-study.html">Case Study</a></li>
                                            <li class="nav-item"><a title="Case study Details" class="nav-link" href="case-study-details.html">Case Study Details</a></li>
                                        </ul>
                                    </li> -->
                                    <li class="nav-item"><a title="Team" class="nav-link" href="team.html">Team</a></li>
                                    <!-- <li class="dropdown submenu nav-item"><a title="Sign Up" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Sign Up <span class="arrow_carrot-right"></span> </a>
                                        <ul class=" dropdown-menu">
                                            <li class="nav-item"><a title="Sign Up 01" class="nav-link" href="sign-up-1.html">Sign Up 01</a></li>
                                            <li class="nav-item"><a title="Sign Up 02" class="nav-link" href="sign-up-2.html">Sign Up 02</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li class="dropdown submenu nav-item"><a title="Login" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Login<span class="arrow_carrot-right"></span> </a>
                                        <ul class=" dropdown-menu">
                                            <li class="nav-item"><a title="Login 01" class="nav-link" href="login.html">Login 01</a></li>
                                            <li class="nav-item"><a title="Login 02" class="nav-link" href="login-two.html">Login 02</a></li>
                                        </ul>
                                    </li> -->
                                    <li class="nav-item"><a title="FAQ" class="nav-link" href="faq.html">FAQ</a></li>
                                    <!-- <li class="dropdown submenu nav-item"><a title="Contact" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Contact <span class="arrow_carrot-right"></span> </a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li class="nav-item"><a title="Contact 01" class="nav-link" href="contact-1.html">Contact 01</a></li>
                                            <li class="nav-item"><a title="Contact  02" class="nav-link" href="contact-2.html">Contact 02</a></li>
                                        </ul>
                                    </li> -->
                                    <li class="nav-item"><a title="Thank You" class="nav-link" href="thanks.html">Thank You</a></li>
                                    <li class="nav-item"><a title="Coming Soon" class="nav-link" href="coming-soon.html">Coming Soon</a></li>
                                    <!-- <li class="dropdown submenu nav-item"><a title="404" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">404<span class="arrow_carrot-right"></span> </a>
                                        <ul class=" dropdown-menu">
                                            <li class="nav-item"><a title="404 01" class="nav-link" href="404.html">404 01</a></li>
                                            <li class="nav-item"><a title="404 02" class="nav-link" href="404-two.html">404 02</a></li>
                                        </ul>
                                    </li> -->
                                </ul>
                            </li>
                            <!-- <li class="nav-item dropdown submenu mega_menu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Portfolio
                                </a>
                                <div class="mega_menu_inner">
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">Portfolio Grid</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-grid-2col.html" class="nav-link">Style 1 (2 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-3columns.html" class="nav-link">Style 1 (3 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-4columns.html" class="nav-link">Style 1 (4 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-2col-2.html" class="nav-link">Style 2 (2 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-2col-3.html" class="nav-link">Style 2 (3 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-2col-4.html" class="nav-link">Style 2 (4 columns)</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">Portfolio Fluid</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-fullwidth-3columns.html" class="nav-link">Style 1 (3 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-fullwidth-4columns.html" class="nav-link">Style 1 (4 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-fullwidth1.html" class="nav-link">Style 2 (3 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-grid-fullwidth2.html" class="nav-link">Style 2 (4 columns)</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">Portfolio Masonry</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-mas-2col.html" class="nav-link">Style 1 (2 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-mas-3col.html" class="nav-link">Style 1 (3 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-mas-4col.html" class="nav-link">Style 1 (4 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-mas-3col-2.html" class="nav-link">Style 2 (3 columns)</a></li>
                                                <li class="nav-item"><a href="portfolio-mas-4col-2.html" class="nav-link">Style 2 (4 columns)</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">Project details</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-details-1.html" class="nav-link">Style 1</a></li>
                                                <li class="nav-item"><a href="portfolio-details-2.html" class="nav-link">Style 2</a></li>
                                                <li class="nav-item"><a href="portfolio-details-3.html" class="nav-link">Style 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li> -->
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Features
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="/pages/employeeselfservicefeature" class="nav-link">Employee Self Service</a></li>
                                    <li class="nav-item"><a href="/pages/attendancemanagementfeature" class="nav-link">Attendance Management</a></li>
                                    <li class="nav-item"><a href="/pages/payrollmanagementfeature" class="nav-link">Pay-Roll Management</a></li>
                                    <li class="nav-item"><a href="/pages/leavemanagementfeature" class="nav-link">Leave Management</a></li>
                                    <li class="nav-item"><a href="/pages/claimmanagementfeature" class="nav-link">Claims Management</a></li>
                                    <li class="nav-item"><a href="/pages/processautomationfeature" class="nav-link">Process Automation</a></li>

																		<li class="nav-item"><a href="/pages/performancemanagementpage" class="nav-link">Performance Management</a></li>
                                    <li class="nav-item"><a href="/pages/travelprocessmanagementfeature" class="nav-link">Travels & OD Management</a></li>
                                    <li class="nav-item"><a href="/pages/trainingmanagementfeature" class="nav-link">Training Management</a></li>
                                    <li class="nav-item"><a href="/pages/documentstoragefeature" class="nav-link">Document Storage & Management</a></li>
                                    <li class="nav-item"><a href="/pages/employeedirectoryfeature" class="nav-link">Employee Directory</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- <li class="nav-item"><a href="blog-grid.html" class="nav-link">Blog Grid</a></li>
                                    <li class="nav-item"><a href="blog-grid-two.html" class="nav-link">Blog Grid Two</a></li>
                                    <li class="nav-item"><a href="blog-list.html" class="nav-link">Blog List</a></li>
                                    <li class="nav-item"><a href="blog-right-sidebar.html" class="nav-link">Blog Right Sidebar</a></li>
                                    <li class="nav-item"><a href="blog-masonry.html" class="nav-link">Blog Masonry</a></li>
                                    <li class="nav-item"><a href="blog-masonry-two.html" class="nav-link">Blog Masonry Two</a></li>
                                    <li class="nav-item"><a href="blog-masonry-sidebar.html" class="nav-link">Blog Masonry Sidebar</a></li>
                                    <li class="nav-item"><a href="blog-masonry-sidebar-two.html" class="nav-link">Blog Masonry Sidebar Two</a></li>
                                    <li class="nav-item"><a href="blog-single.html" class="nav-link">Blog Single</a></li>
                                    <li class="nav-item"><a href="blog-single-two.html" class="nav-link">Blog Single Two</a></li> -->
                                </ul>
                            </li>
                            <!-- <li class="nav-item dropdown submenu mega_menu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Elements
                                </a>
                                <div class="mega_menu_inner">
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link">Elements 01</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="Accordion.html" class="nav-link">Accordions</a></li>
                                                <li class="nav-item"><a href="button.html" class="nav-link">Buttons</a></li>
                                                <li class="nav-item"><a href="team.html" class="nav-link">Team</a></li>
                                                <li class="nav-item"><a href="integration.html" class="nav-link">Integration</a></li>
                                                <li class="nav-item"><a href="client.html" class="nav-link">Clients</a></li>
                                                <li class="nav-item"><a href="subscribe.html" class="nav-link">Subscribe</a></li>
                                                <li class="nav-item"><a href="call-to-action.html" class="nav-link">Call to Action</a></li>
                                                <li class="nav-item"><a href="tab.html" class="nav-link">Tab</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link">Elements 02</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="testimonial.html" class="nav-link">Testimonials</a></li>
                                                <li class="nav-item"><a href="video.html" class="nav-link">Video</a></li>
                                                <li class="nav-item"><a href="carosuel.html" class="nav-link">Carosuel</a></li>
                                                <li class="nav-item"><a href="google-map.html" class="nav-link">Google Map</a></li>
                                                <li class="nav-item"><a href="contact-form.html" class="nav-link">Contact Form</a></li>
                                                <li class="nav-item"><a href="process.html" class="nav-link">Process</a></li>
                                                <li class="nav-item"><a href="getapp.html" class="nav-link">Get App</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link">Elements 03</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="heading.html" class="nav-link">Heading</a></li>
                                                <li class="nav-item"><a href="blockquote.html" class="nav-link">Blockquote</a></li>
                                                <li class="nav-item"><a href="price.html" class="nav-link">Pricing Table</a></li>
                                                <li class="nav-item"><a href="fun-fact.html" class="nav-link">Fun Fact</a></li>
                                                <li class="nav-item"><a href="coming-soon.html" class="nav-link">Countdown Timer</a></li>
                                                <li class="nav-item"><a href="pagination.html" class="nav-link">Pagination</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link">
                                            Headers
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="header-dark.html" class="nav-link">Header Dark</a></li>
                                                <li class="nav-item"><a href="header-style2.html" class="nav-link">Header Style 2</a></li>
                                                <li class="nav-item"><a href="header-style3.html" class="nav-link">Header Style 3</a></li>
                                                <li class="nav-item"><a href="header-style4.html" class="nav-link">Header Style 4</a></li>
                                                <li class="nav-item"><a href="header-style5.html" class="nav-link">Header Style 5</a></li>
                                                <li class="nav-item"><a href="header-style6.html" class="nav-link">Header Style 6</a></li>
                                                <li class="nav-item"><a href="header-style7.html" class="nav-link">Header Style 7</a></li>
                                                <li class="nav-item"><a href="header-style8.html" class="nav-link">Header Style 8</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li> -->
                        </ul>
                        <a class="btn_get btn_hover saas_btn" href="/pages/contact-us">Sign Up</a>
                    </div>
                </div>
            </nav>
        </header>
