<% include ../partials/header %>

<section class="saas_service_area sec_pad">
		<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
						<h2 class="f_p f_size_30 l_height50 f_600 t_color">Attendance Management.</h2>
						<p class="f_400 f_size_16">Well at public school cheeky bugger grub burke codswallop smashing only a quid<br> pardon you lavatory chip shop, geeza loo horse play.</p>
				</div>

				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Design.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.6s">
										<div class="icon icon_two"><i class="ti-split-v-alt"></i></div>
										<h4 class="f_500 f_p t_color">Attendance & Time Record</h4>
										<p class="f_p f_400">Nitya HRMS enables you to track your employees attendance and find out their in-time, out-time and total working hours per day/week/month. </p>
										<p class="f_p f_400">Employees can either use the web or mobile check-in/checkout screen or you can use your existing Biometric attendance terminal to import data.</p>
								</div>
						</div>
				</div>
				<div class="row saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInLeft" data-wow-delay="0.4s">
										<img src="/images/home-10/enterprice.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.6s">
										<div class="icon icon_three"><i class="ti-bar-chart-alt"></i></div>
										<h4 class="f_500 f_p t_color">Mobile Attendance & GPS Location Tracking</h4>
										<p class="f_p f_400">Nitya HRMS mobile app enables your employees  to check-in and check-out from remote locations. you can track time and location of the employee with the GPS location tracker.</p>
										<p class="f_p f_400">This helps employer to track the attendance of the outdoor (field/sales/Marketing) employees. It bring more control and transparency with the employees working hours.</p>

								</div>
						</div>
				</div>
				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Development.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.4s">
										<div class="icon icon_four"><i class="ti-settings"></i></div>
										<h4 class="f_500 f_p t_color">Reports</h4>
										<p class="f_p f_400">Nitya HRMS provides  different kind of reports for attendance with the ability to filter data.</p>

								</div>
						</div>
				</div>

		</div>
</section>








  <% include ../partials/footer %>
