<% include ../partials/header %>

<section class="saas_service_area sec_pad">
		<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
						<h2 class="f_p f_size_30 l_height50 f_600 t_color">Claims Management.</h2>
						<p class="f_400 f_size_16">Well at public school cheeky bugger grub burke codswallop smashing only a quid<br> pardon you lavatory chip shop, geeza loo horse play.</p>
				</div>

				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Design.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.6s">
										<div class="icon icon_two"><i class="ti-split-v-alt"></i></div>
										<h4 class="f_500 f_p t_color">Expense Claims</h4>
										<p class="f_p f_400">Nitya HRMS enable to employees to apply for expense reimbursement and view their request details and history. Applicant can track their request  and can send reminders to expedite the process. </p>
								</div>
						</div>
				</div>
				<div class="row saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInLeft" data-wow-delay="0.4s">
										<img src="/images/home-10/enterprice.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.6s">
										<div class="icon icon_three"><i class="ti-bar-chart-alt"></i></div>
										<h4 class="f_500 f_p t_color">Expense History</h4>
										<p class="f_p f_400">Employees and their manager can view their expense history, all the application and approval or rejections.</p>
										<p class="f_p f_400">Reports are also available for each employee.</p>

								</div>
						</div>
				</div>
				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Development.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.4s">
										<div class="icon icon_four"><i class="ti-settings"></i></div>
										<h4 class="f_500 f_p t_color">Expense Approval</h4>
										<p class="f_p f_400">You can keep a multi-level approval for expenses reimbursement application. The Approver will get the details of application and can approve or reject the application.</p>

								</div>
						</div>
				</div>

		</div>
</section>


  <% include ../partials/footer %>
