<% include ../partials/header %>

<section class="saas_service_area sec_pad">
		<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
						<h2 class="f_p f_size_30 l_height50 f_600 t_color">Employee Directory.</h2>
						<p class="f_400 f_size_16">Well at public school cheeky bugger grub burke codswallop smashing only a quid<br> pardon you lavatory chip shop, geeza loo horse play.</p>
				</div>

				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Design.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.6s">
										<div class="icon icon_two"><i class="ti-split-v-alt"></i></div>
										<h4 class="f_500 f_p t_color">Employee Information</h4>
										<p class="f_p f_400">Nitya HRMS helps you to keep all the employee credentials in a central database and provides a lovely interface to view your employees information.</p>
										<p class="f_p f_400">The Interface will shows only the information you have filled in, so there is no disorder with unfilled data. More information can be added at any point of time.</p>
								</div>
						</div>
				</div>
				<div class="row saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInLeft" data-wow-delay="0.4s">
										<img src="/images/home-10/enterprice.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.6s">
										<div class="icon icon_three"><i class="ti-bar-chart-alt"></i></div>
										<h4 class="f_500 f_p t_color">Organization Chart</h4>
										<p class="f_p f_400">Organization chart will be maintained automatically along with your team structure and automatically applies changes when you change the manager of an employee.</p>

								</div>
						</div>
				</div>
				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Development.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.4s">
										<div class="icon icon_four"><i class="ti-settings"></i></div>
										<h4 class="f_500 f_p t_color">Search Mode For Employees</h4>
										<p class="f_p f_400">Nitya HRMS provides powerful searching capability. you can search employee by ID  or name or use more advanced search to find all employee who report a to a particular manager and in a specific department.</p>

								</div>
						</div>
				</div>

		</div>
</section>




  <% include ../partials/footer %>
