<% include ../partials/header %>


<section class="saas_service_area sec_pad">
		<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
						<h2 class="f_p f_size_30 l_height50 f_600 t_color">Employee Self Service</h2>
						<p class="f_400 f_size_16">Well at public school cheeky bugger grub burke codswallop smashing only a quid<br> pardon you lavatory chip shop, geeza loo horse play.</p>
				</div>

				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Design.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.6s">
										<div class="icon icon_two"><i class="ti-split-v-alt"></i></div>
										<h4 class="f_500 f_p t_color">Personal Information</h4>
										<p class="f_p f_400">By ESS, Nitya HRMS enables employees of your organization to access and update their own data and records based on the rights to change which generally includes their address, phone numbers, martial status, family information, emergency contacts, etc. helps ensure that all records are updated properly.</p>
										<p class="f_p f_400">For Each changes/ modification, HR and approver will get notification and approver can approve after it verification.</p>
								</div>
						</div>
				</div>
				<div class="row saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInLeft" data-wow-delay="0.4s">
										<img src="/images/home-10/enterprice.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.6s">
										<div class="icon icon_three"><i class="ti-bar-chart-alt"></i></div>
										<h4 class="f_500 f_p t_color">Application for Leave</h4>
										<p class="f_p f_400">Employees can apply for leaves through Nitya HRMS as well as can view their leave request details and leave history. Employees can track their leave request and send reminder emails to their manager or appropriate authority.</p>
										<p class="f_p f_400">Managers/Approvers can view in the dashboard and can approve or reject the leaves based on the presence of manpower.</p>

								</div>
						</div>
				</div>
				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Development.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.4s">
										<div class="icon icon_four"><i class="ti-settings"></i></div>
										<h4 class="f_500 f_p t_color">Request to Change Data</h4>
										<p class="f_p f_400">As employees can send request to change their data, automated emails will be triggered to HR (admin access) about the changes made by the employee to their profile data.</p>
										<p class="f_p f_400">HR personnel can approve or reject the changes after reviewing the documentation provided by the employee for the changes to the profile data. </p>

								</div>
						</div>
				</div>
				<div class="row saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInLeft" data-wow-delay="0.4s">
										<img src="/images/home-10/enterprice.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.6s">
										<div class="icon icon_three"><i class="ti-bar-chart-alt"></i></div>
										<h4 class="f_500 f_p t_color">Claims</h4>
										<p class="f_p f_400">Nitya HRMS, Claim Management Module enables employees to apply for reimbursement of official expenses and provide scanned documents of bills and supporting documents.</p>
										<p class="f_p f_400">Approvers can review these document and approve or reject the claim, submitted by the employee.</p>

								</div>
						</div>
				</div>
				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Development.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.4s">
										<div class="icon icon_four"><i class="ti-settings"></i></div>
										<h4 class="f_500 f_p t_color">Pay Slips</h4>
										<p class="f_p f_400">Nitya HRMS enables employees to view and down pay slips any time, after payroll process has been done.</p>

								</div>
						</div>
				</div>
		</div>
</section>

  <% include ../partials/footer %>
