<% include ../partials/header %>

<section class="saas_service_area sec_pad">
		<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
						<h2 class="f_p f_size_30 l_height50 f_600 t_color">Mobile Application</h2>
						<p class="f_400 f_size_16">Work in Progress</p>
				</div>


		</div>
</section>





  <% include ../partials/footer %>
