<% include ../partials/header %>

<section class="saas_service_area sec_pad">
		<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
						<h2 class="f_p f_size_30 l_height50 f_600 t_color">Pay Roll Management</h2>
						<p class="f_400 f_size_16">Well at public school cheeky bugger grub burke codswallop smashing only a quid<br> pardon you lavatory chip shop, geeza loo horse play.</p>
				</div>

				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Design.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.6s">
										<div class="icon icon_two"><i class="ti-split-v-alt"></i></div>
										<h4 class="f_500 f_p t_color">Pay Roll Management.</h4>
										<p class="f_p f_400">You can process your payroll with pressing a single button by Nitya HRMS.  All the data which includes attendance, Leave, OD data  will be assessed automatically for payroll processing. It will take 10-15 minutes to process and finalize the salary register. </p>
										<p class="f_p f_400">Nitya HRMS is one of best HR and Payroll software in India, who is offering customized and innovative payroll solutions to companies across the country. Whether you are a small or large organization, we have a customized solution for all your payroll requirements.</p>
										<p class="f_p f_400">We provide a comprehensive way out and a fully grievance coped service that is easy to operate and understand. Our working professional & also Managing Director is highly skilled professional payroll processors who believes in making the payroll system absolutely simple, without compromising on quality and productivity. The adherence to timely delivery of payroll distribution and accurateness makes us the  best HR and payroll software in India. Without being stressed with HR and payroll, you can concentrate on other core issues of the company.</p>
										<ul class="list-group">
											<li class="list-group-item txt-gray">Effective tax calculation.</li>
											<li class="list-group-item txt-gray">Tax declaration system.</li>
											<li class="list-group-item txt-gray">Attractive statutory reports that are vital to every organization.</li>
											<li class="list-group-item txt-gray">Easy accessibility and less dependency on HR personnel.</li>
											<li class="list-group-item txt-gray">Tracking of recruitment management and training management.</li>
											<li class="list-group-item txt-gray">Regular system upgrades.</li>
											<li class="list-group-item txt-gray">Systematized attendance management and administration.</li>
											<li class="list-group-item txt-gray">Payroll management system also caters to claims, induction and exit management system and much more.</li>

										</ul>
										<p class="f_p f_400">With an entire gamut of HR and payroll features, there is nothing better than Nitya HRMS that provides you solutions to all your problems. We show you the path forward and handhold your business till it achieves complete digital transformation in payroll accessibility.</p>


								</div>
						</div>
				</div>
		</div>
</section>




  <% include ../partials/footer %>
