<% include ../partials/header %>

<section class="saas_service_area sec_pad">
		<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
						<h2 class="f_p f_size_30 l_height50 f_600 t_color">Process Automation.</h2>
						<p class="f_400 f_size_16">Well at public school cheeky bugger grub burke codswallop smashing only a quid<br> pardon you lavatory chip shop, geeza loo horse play.</p>
				</div>

				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Design.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.6s">
										<div class="icon icon_two"><i class="ti-split-v-alt"></i></div>
										<h4 class="f_500 f_p t_color">Birthday Wishes</h4>
										<p class="f_p f_400">Nitya HRMS will send an automated email to the employee on their birthday. All employees  can view the birthdays on their dashboard.</p>
										<p class="f_p f_400">Nitya HRMS will also send you a notification about the birthday list every day.</p>
								</div>
						</div>
				</div>
				<div class="row saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInLeft" data-wow-delay="0.4s">
										<img src="/images/home-10/enterprice.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.6s">
										<div class="icon icon_three"><i class="ti-bar-chart-alt"></i></div>
										<h4 class="f_500 f_p t_color">Work Anniversaries</h4>
										<p class="f_p f_400">Nitya HRMS will send an automated email to the employee on their work anniversaries. All employees  can view the work anniversaries on their dashboard.</p>
										<p class="f_p f_400">Nitya HRMS will also send you a notification about the work anniversaries list every day.</p>

								</div>
						</div>
				</div>
				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Development.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.4s">
										<div class="icon icon_four"><i class="ti-settings"></i></div>
										<h4 class="f_500 f_p t_color">Reminders</h4>
										<p class="f_p f_400">Leave approver will get reminders through emails until they approve/reject the leaves.</p>
										<p class="f_p f_400">You can set the number of days in the settings screen for reminders.</p>

								</div>
						</div>
				</div>
				<div class="row saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInLeft" data-wow-delay="0.4s">
										<img src="/images/home-10/enterprice.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.6s">
										<div class="icon icon_three"><i class="ti-bar-chart-alt"></i></div>
										<h4 class="f_500 f_p t_color">Check-Lists</h4>
										<p class="f_p f_400">You can create and maintain different versions of Induction checklist. It will automatically added to the new employee.</p>
										<p class="f_p f_400">You can define and maintain different versions of the separation checklist. Every time an employee decides to leave your organization and you set the status to resigned a separation process is automatically added to the user.</p>

								</div>
						</div>
				</div>
				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Development.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.4s">
										<div class="icon icon_four"><i class="ti-settings"></i></div>
										<h4 class="f_500 f_p t_color">Exit Interview</h4>
										<p class="f_p f_400">Setup an exit interview process by defining the questions you want to ask your employees. You can also preview the form during design time.</p>
										<p class="f_p f_400">Exit interview is automatically visible to the resigned employees and a reminder is sent to the employee to fill up the exit interview. You can later view the exit interview response as a report.</p>

								</div>
						</div>
				</div>
		</div>
</section>




  <% include ../partials/footer %>
