<% include ../partials/header %>

<section class="saas_service_area sec_pad">
		<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
						<h2 class="f_p f_size_30 l_height50 f_600 t_color">Training Management.</h2>
						<p class="f_400 f_size_16">Well at public school cheeky bugger grub burke codswallop smashing only a quid<br> pardon you lavatory chip shop, geeza loo horse play.</p>
				</div>

				<div class="row flex-row-reverse saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
										<img src="/images/home-10/Design.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.6s">
										<div class="icon icon_two"><i class="ti-split-v-alt"></i></div>
										<h4 class="f_500 f_p t_color">Training Assignment.</h4>
										<p class="f_p f_400">Nitya HRMS Training Module enables the HR personnel to set trainings that employees need to attend and can assign the training to employees or departments or divisions.</p>
										<p class="f_p f_400">After trainings has been assigned, email notification will be sent to them asking them to attend and complete the trainings.</p>
										<p class="f_p f_400">Reminders will be sent to employees who has not completed the training.Periodic trainings can also be setup to be assigned to employees automatically every month, three months or half yearly.</p>
								</div>
						</div>
				</div>
				<div class="row saas_service_item">
						<div class="col-lg-6">
								<div class="saas_service_img wow fadeInLeft" data-wow-delay="0.4s">
										<img src="/images/home-10/enterprice.png" alt="">
								</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
								<div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.6s">
										<div class="icon icon_three"><i class="ti-bar-chart-alt"></i></div>
										<h4 class="f_500 f_p t_color">Employee Training</h4>
										<p class="f_p f_400">Employees can view trainings assigned to them and have to attend the training.They will be able to pause and return back to the training.</p>

								</div>
						</div>
				</div>


		</div>
</section>



  <% include ../partials/footer %>
