<% include ./partials/header %>

<section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Contact Us</h1>
                    <p class="f_400 w_color f_size_16 l_height26">Why I say old chap that is spiffing off his nut arse pear shaped plastered<br> Jeffrey bodge barney some dodgy.!!</p>
                </div>
            </div>
        </section>

        <section class="contact_info_area sec_pad bg_color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 pr-0">
                        <div class="contact_info_item">
                            <h6 class="f_p f_size_20 t_color3 f_500 mb_20">Office Address</h6>
                            <p class="f_400 f_size_15">Melbourne’s GPO 434 Bourke St. Dhaka VIC 3074, Australia</p>
                        </div>
                        <div class="contact_info_item">
                            <h6 class="f_p f_size_20 t_color3 f_500 mb_20">Contact Info</h6>
                            <p class="f_400 f_size_15"><span class="f_400 t_color3">Phone:</span> <a href="tel:3024437488">(+096) 302 443 7488</a></p>
                            <p class="f_400 f_size_15"><span class="f_400 t_color3">Fax:</span> <a href="tel:3024437488">(+096) 204 353 6684</a></p>
                            <p class="f_400 f_size_15"><span class="f_400 t_color3">Email:</span> <a href="mailto:saasland@gmail.com">saasland@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-1">
                        <div class="mapbox">
                            <div id="mapBox" class="row m0" data-lat="40.701083" data-lon="-74.1522848" data-zoom="10" data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia." data-marker="img/map.png" data-mlat="40.701083" data-mlon="-74.1522848">
                            </div>
                        </div>
                    </div>
                </div>
								<% if(don == 1){ %>
					        <h4 class="txt-green">Your Request has been submitted Successfully<h4>
					    <%  } %>
                <div class="contact_form">
                    <h2 class="f_p f_size_22 t_color3 f_600 l_height28 mt_100 mb_40">Leave a Message</h2>
										<form method="POST" action="/pages/submi">
					            <div class="form-group">
					              <label for="firstname">First Name</label>
					              <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname" required="true">
					            </div>

					            <div class="form-group">
					              <label for="lastname">Last Name</label>
					              <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname" required="true">
					            </div>

					            <div class="form-group">
					              <label for="companyname">Company Name</label>
					              <input type="text" class="form-control" id="companyname" placeholder="Company Name" name="companyname" required="true">
					            </div>

					            <div class="form-group">
					              <label for="email">Your Contact Email-Id</label>
					              <input type="email" class="form-control" id="email" placeholder="Your Email" name="email" required="true">
					            </div>

					            <div class="form-group">
					              <label for="mobile">Your Contact Mobile number</label>
					              <input type="text" class="form-control" id="mobile" placeholder="Contact Number" name="mobile" required="true">
					            </div>

					            <div class="form-group">
					              <label for="employeecount">Your Company Employee Count(Approx)</label>
					              <input type="text" class="form-control" id="employeecount" placeholder="Number of Employee(Approx)" name="employeecount" required="true">
					            </div>
					              <input type="submit" />
					          </form>
                    <!-- <form action="contact_process.php" class="contact_form_box" method="post" id="contactForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" id="name" name="name" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="email" id="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <input type="text" id="subject" name="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter Your Message . . ."></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn_three">Send Message</button>
                    </form> -->
                    <div id="success">Your message succesfully sent!</div>
                    <div id="error">Opps! There is something wrong. Please try again</div>
                </div>
            </div>
        </section>






	<!-- <div class="container-fluid mb-5">
			<div class="col-12 px-5">
				<h1 class="mt-5 pr-5 f-30 txt-gray">Lorem ipsum dolor sit amet</h1>
				<p class="txt-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<hr/>
				<div class="row">
				<div class="col-md-6">
				<form>
					<div class="form-row">
					<div class="form-group col-md-6">
						<label class="font-weight-bold" for="first_name">First Name:</label>
						<input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required="">
					</div>
					<div class="form-group col-md-6">
						<label class="font-weight-bold" for="last_name">Last Name:</label>
						<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required="">
					</div>
					<div class="form-group col-md-6">
						<label class="font-weight-bold" for="company_name">Company Name:</label>
						<input type="text" class="form-control" id="company_name" name="company_name" placeholder="Company Name" required="">
					</div>
					<div class="form-group col-md-6">
						<label class="font-weight-bold" for="email_id">Email:</label>
						<input type="email" class="form-control" id="email_id" name="email_id" placeholder="Email Id" required="">
					</div>
					<div class="form-group col-md-6">
						<label class="font-weight-bold" for="email_sub">Subject:</label>
						<input type="text" class="form-control" id="email_sub" name="email_sub" placeholder="Subject" required="">
					</div>
					<div class="form-group col-md-6">
						<label class="font-weight-bold" for="mobile_no">Mobile No:</label>
						<input type="number" class="form-control" id="mobile_no" name="mobile_no" placeholder="Mobile Number" required="">
					</div>
					<div class="form-group col-12">
						<label class="font-weight-bold" for="query">Your Query:</label>
						<textarea class="w-100" rows="3"></textarea>
					</div>
				</div>
				<button class="btn btn-green mt-3 w-100">Submit Query</button>
				</form>
			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.9605268357873!2d73.00029241437669!3d19.065473057258842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c141ab13e10d%3A0xa762a277d6a72ccc!2sSpiderweaves%20-%20Website%20Designer%2C%20Developer%20%26%20SEO%20promoter!5e0!3m2!1sen!2sin!4v1566730613606!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
			</div>
			</div>
	</div> -->

<% include ./partials/footer %>
