<% include ./partials/header %>

		<section class="saas_banner_area_two">
				<div class="section_intro">
						<div class="section_container">
								<div class="intro">
										<div class=" intro_content">
												<h1 class="f_700 f_size_50 w_color f_p">India’s best HR Software for SME & Enterprise</h1>
												<h2 class="typed w_color"></h2>
												<p class="w_color f_size_18">One and only HR software which provide excellent features of customisation and real time data process along with excellent report generation system. </p>
												<!-- <form class="mailchimp" method="post">
														<div class="input-group subcribes">
																<input type="text" name="EMAIL" class="form-control memail" placeholder="yourmail@gmail.com">
																<button class="btn btn_submit f_size_15 f_500" type="submit">Get Started</button>
														</div>
														<p class="mchimp-errmessage" style="display: none;"></p>
														<p class="mchimp-sucmessage" style="display: none;"></p>
												</form> -->
										</div>
								</div>
						</div>
				</div>
				<img class="shap_img" src="/images/home-10/shape.png" alt="">
				<div class="animation_img wow fadeInUp" data-wow-delay="0.3s">
						<img src="/images/newdest.png" alt="">
				</div>
		</section>

		<section class="saas_features_area_two">
				<div class="container">
						<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
								<h2 class="f_p f_size_30 l_height50 f_600 t_color">Core-HR & PayRoll Management</h2>
								<p class="f_400 f_size_16"></p>
						</div>
						<div class="row mb_30">
								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
												<img src="/images/ess-icon.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/employeeselfservicefeature">Employee Self Service</a></h4>
												<p class="f_400 f_size_15 mb-0">ESS, Nitya HRMS enables employees of your organization to access and update their own data and records. It helps ensure that all records are updated properly.</p>
										</div>
								</div>
								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.5s">
												<img src="/images/payroll.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/payrollmanagementfeature">Pay Roll Management</a></h4>
												<p class="f_400 f_size_15 mb-0">You can process your payroll with pressing a single button by Nitya HRMS.  All the data which includes attendance, Leave, OD data  will be assessed automatically for payroll processing. It will take 10-15 minutes to process and finalize the salary register.</p>
										</div>
								</div>
								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s">
												<img src="/images/attendant-list.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/attendancemanagementfeature">Attendance Management </a></h4>
												<p class="f_400 f_size_15 mb-0">Nitya HRMS enables you to track your employees attendance and find out their in-time, out-time and total working hours per day/week/month. </p>
										</div>
								</div>
						</div>


						<div class="row mb_30">
							<div class="col-lg-4 col-sm-6">
									<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
											<img src="/images/calendar-with-day-off.png" alt="">
											<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/leavemanagementfeature">Leave Management</a></h4>
											<p class="f_400 f_size_15 mb-0">Employees can apply for leaves through Nitya HRMS as well as can view their leave request details and leave history and more.</p>
									</div>
							</div>
								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
												<img src="/images/management.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/performancemanagementpage">Performance Management</a></h4>
												<p class="f_400 f_size_15 mb-0">Nitya HRMS allows you to set  KRA and KPI for each employees. you can setup monthly, quarterly or yearly performance templates.  </p>
										</div>
								</div>
								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.5s">
												<img src="/images/refund.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/claimmanagementfeature">Claims & Expenses Management</a></h4>
												<p class="f_400 f_size_15 mb-0">Nitya HRMS enable to employees to apply for expense reimbursement and view their request details and history. Applicant can track their request  and can send reminders to expedite the process. </p>
										</div>
								</div>

						</div>

						<div class="row mb_30">

								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
												<img src="/images/suitcase.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/travelprocessmanagementfeature">Employee Travels & OD Management</a></h4>
												<p class="f_400 f_size_15 mb-0">Employees can use Nitya HRMS to apply for Travel Request and view their request details and history.  Employees can track their requests and can send reminders to expedite in process.</p>
										</div>
								</div>
								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
												<img src="/images/presentation.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/trainingmanagementfeature">Training Management</a></h4>
												<p class="f_400 f_size_15 mb-0">Nitya HRMS Training Module enables the HR personnel to set trainings that employees need to attend and can assign the training to employees or departments or divisions.</p>
										</div>
								</div>
								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s">
												<img src="/images/automation.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/processautomationfeature">Process Automation</a></h4>
												<p class="f_400 f_size_15 mb-0">Many Process have been automated and syncronized. Click Here for more details.</p>
										</div>
								</div>

						</div>

						<div class="row mb_30">

								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
												<img src="/images/directory.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/employeedirectoryfeature">Employee Directory Management</a></h4>
												<p class="f_400 f_size_15 mb-0">Nitya HRMS provides powerful searching capability. you can search employee by ID  or name or use more advanced search to find all employee who report a to a particular manager and in a specific department.</p>
										</div>
								</div>

								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.5s">
												<img src="/images/file-sharing.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/documentstoragefeature">Employee Document Management </a></h4>
												<p class="f_400 f_size_15 mb-0">Keep your document templates in one place. Create and manage document templates that you give to you employees when they join, leave, get promoted or get disciplined.</p>
										</div>
								</div>
								<div class="col-lg-4 col-sm-6">
										<div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s">
												<img src="/images/smartphone.png" alt="">
												<h4 class="f_size_20 f_p t_color f_500"><a href="/pages/mobileapplicationpage">Mobile Optimized Application</a></h4>
												<p class="f_400 f_size_15 mb-0">Mobile app will continue to evolve and have new features over the time. Currently Mobile app supports four modules – Leave Management, Expense Management, Travel Management and Attendance Management. </p>
										</div>
								</div>
						</div>
						<div class="hr mt_100 mb-0"></div>
				</div>
		</section>

		<section class="saas_service_area sec_pad">
				<div class="container">
						<div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
								<h2 class="f_p f_size_30 l_height50 f_600 t_color">Whom Nitya-HRMS is for?</h2>
								<p class="f_400 f_size_16"></p>
						</div>

						<div class="row flex-row-reverse saas_service_item">
								<div class="col-lg-6">
										<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
												<img src="/images/home-10/Design.png" alt="">
										</div>
								</div>
								<div class="col-lg-6 d-flex align-items-center">
										<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.6s">
												<div class="icon icon_two"><i class="ti-split-v-alt"></i></div>
												<h4 class="f_500 f_p t_color">For Startup</h4>
												<p class="f_p f_400">When a start-up company comes, it starts off with a few employees that wear many hats and a simple system for managing processes which extends across organisation and have several different departments for a broader business; for them we have an excellent plan which will take care the whole business digitally. For more - Start up plans</p>
										</div>
								</div>
						</div>
						<div class="row saas_service_item">
								<div class="col-lg-6">
										<div class="saas_service_img wow fadeInLeft" data-wow-delay="0.4s">
												<img src="/images/home-10/enterprice.png" alt="">
										</div>
								</div>
								<div class="col-lg-6 d-flex align-items-center">
										<div class="saas_service_content pr_100 wow fadeInRight" data-wow-delay="0.6s">
												<div class="icon icon_three"><i class="ti-bar-chart-alt"></i></div>
												<h4 class="f_500 f_p t_color">For Small & Medium Businesses</h4>
												<p class="f_p f_400">For the small and medium Sized organisation, in a growing phase, the Level of our customisation Portfolio enables organisation to move up with the right direction keeping all the data secured. It enhances the organisation to track the growth rate regularly which will give a better track to follow.</p>
										</div>
								</div>
						</div>
						<div class="row flex-row-reverse saas_service_item">
								<div class="col-lg-6">
										<div class="saas_service_img wow fadeInRight" data-wow-delay="0.4s">
												<img src="/images/home-10/Development.png" alt="">
										</div>
								</div>
								<div class="col-lg-6 d-flex align-items-center">
										<div class="saas_service_content pl_100 wow fadeInLeft" data-wow-delay="0.4s">
												<div class="icon icon_four"><i class="ti-settings"></i></div>
												<h4 class="f_500 f_p t_color">For Enterprines</h4>
												<p class="f_p f_400">To keep your growth path maintained and tracking your records will make you more efficient to handle the organisation. The number of modules in NityaHRMS, enables you to make effective with regards to handling people and stake holders.</p>
										</div>
								</div>
						</div>
				</div>
		</section>

		<!-- <section class="sass_partner_logo_area sec_pad">
				<div class="container">
						<div class="sec_title text-center wow fadeInUp" data-wow-delay="0.3s">
								<h2 class="f_p f_size_30 l_height50 f_600 t_color">We Offer Around 100 Applications</h2>
								<p class="f_400 f_size_16">Well at public school cheeky bugger grub burke codswallop smashing only a quid<br> pardon you lavatory chip shop, geeza loo horse play.</p>
						</div>
						<div class="partner_logo_area_four">
								<div class="row partner_info">
										<div class="logo_item">
												<a href="#"><img src="/images/home3/logo_01.png" alt=""></a>
										</div>
										<div class="logo_item">
												<a href="#"><img src="/images/home3/logo_02.png" alt=""></a>
										</div>
										<div class="logo_item">
												<a href="#"><img src="/images/home3/logo_03.png" alt=""></a>
										</div>
										<div class="logo_item">
												<a href="#"><img src="/images/home3/logo_04.png" alt=""></a>
										</div>
										<div class="logo_item">
												<a href="#"><img src="/images/home3/logo_05.png" alt=""></a>
										</div>
										<div class="logo_item">
												<a href="#"><img src="/images/home3/logo_03.png" alt=""></a>
										</div>
										<div class="logo_item">
												<a href="#"><img src="/images/home3/logo_04.png" alt=""></a>
										</div>
										<div class="logo_item">
												<a href="#"><img src="/images/home3/logo_05.png" alt=""></a>
										</div>
								</div>
						</div>
				</div>
		</section> -->
		<section class="saas_subscribe_area">
				<div class="container">
						<div class="row saas_action_content wow fadeInUp" data-wow-delay="0.2s">
								<div class="col-lg-8">
										<h4 class="f_p f_size_30 l_height50 f_400 t_color mb-0">Ready to get Started?</h4>
								</div>
								<div class="col-lg-4 d-flex justify-content-end">
										<a href="/pages/contact-us" class="gr_btn"><span class="text">Creater an Account</span></a>
								</div>
						</div>
				</div>
		</section>

		<% include ./partials/footer %>

    <script type="text/javascript">
        $(function() {
            $(".typed").typed({
                strings: [" Core HR", "Payroll", "Leave Management", "Attendance Management", "Employee Self Service Portal", "Employee App"],
                // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
                stringsElement: null,
                // typing speed
                typeSpeed: 30,
                // time before typing starts
                startDelay: 1200,
                // backspacing speed
                backSpeed: 20,
                // time before backspacing
                backDelay: 500,
                // loop
                loop: true,
                // false = infinite
                loopCount: 5,
                // show cursor
                showCursor: false,
                // character for cursor
                cursorChar: "|",
                // attribute to type (null == text)
                attr: null,
                // either html or text
                contentType: 'html',
                // call when done callback function
                callback: function() {},
                // starting callback function before each string
                preStringTyped: function() {},
                //callback for every typed string
                onStringTyped: function() {},
                // callback for reset
                resetCallback: function() {}
            });
        });

    </script>
